@import '@styles/base/variables';
@import '@styles/base/mixins';

.carousel-jobs {
  $parent: &;
  background-color: transparent;
  padding: 0;
  @include mq-sm {
    height: auto;
  }
  &__counter {
    letter-spacing: 5px;
    position: relative;
    margin-bottom: -70px;
    z-index: 2;
    @include mq-sm {
      padding-bottom: 15px;
    }
    p {
      font-size: 24px;
      span {
        font-size: 34px;
        font-weight: 600;
      }
    }
  }
  &__item {
    top: 0;
    min-height: 300px;
    &.carousel-item-start,
    &.carousel-item-end,
    &.active {
      display: flex;
      align-items: center;
    }
    @include mq-sm {
      height: auto;
    }
    &--title {
      height: 100%;
      @include mq-sm {
        height: auto;
        padding-top: 60px;
      }
    }
    &--content {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      padding: 5px 0;
      p {
        margin: 0;
      }
    }
    &--image {
      position: relative;
      width: 25px;
      min-width: 25px;
      height: 25px;
    }
  }
  &__options {
    display: flex;
    gap: 25px;
    margin-top: 20px;
    z-index: 2;
    position: relative;
    @include mq-sm {
      gap: 10px;
      margin-top: 50px;
    }
    &--principal {
      background-color: map-get($colors, 'blue-dark');
      color: #fff;
      font-weight: 600;
      padding: 13px 70px;
      border-radius: 50px;
      &:hover {
        background-color: map-get($colors, 'blue-light');
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        color: #fff;
      }
    }
    &--secondary {
      color: map-get($colors, 'blue-dark');
      border: 1px solid map-get($colors, 'blue-dark');
      border-radius: 50px;
      padding: 13px 20px;
      &:hover {
        color: map-get($colors, 'blue-light');
        border: 1px solid map-get($colors, 'blue-light');
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
      }
    }
  }
}
