@import '@styles/base/variables';
@import '@styles/base/mixins';

.carousel-jobs {
  $parent: &;
  background-color: transparent;
  padding: 0;
  @include mq-sm {
    height: auto;
  }
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    &--title {
      text-align: right;
      h4 {
        font-family: '__Bebas_Neue_758df0';
        font-size: map-get($font-size, 'md');
        margin: 0;
        line-height: 1;
        color: map-get($colors, 'red-wine');
      }
      h3 {
        font-family: '__Bebas_Neue_758df0';
        font-size: map-get($font-size, 'lg');
        line-height: 1;
        @include mq-sm {
          font-size: 3rem;
        }
      }
    }
    &--buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  }
  &__arrows {
    display: flex;
    gap: 10px;
    button {
      color: #fff;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      line-height: 0;
      &.red {
        background-color: map-get($colors, 'red-wine');
        &:hover {
          color: #fff;
          background-color: map-get($colors, 'red-wine-hover');
        }
      }
      &.blue {
        background-color: map-get($colors, 'blue-dark');
        &:hover {
          color: #fff;
          background-color: map-get($colors, 'blue-dark-hover');
        }
      }
    }
  }
  &__breadcrumbs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    span {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid map-get($colors, 'blue-dark');
      cursor: pointer;
      &.active {
        background-color: map-get($colors, 'blue-dark');
      }
    }
  }
  &__item {
    top: 0;
    min-height: 300px;
    &.carousel-item-start,
    &.carousel-item-end,
    &.active {
      //display: flex;
      //align-items: center;
    }
    @include mq-sm {
      height: auto;
    }
    &--content {
      display: flex;
      gap: 20px;
      justify-content: flex-start;
      padding: 5px 0;
      p {
        margin: 0;
      }
    }
    &--image {
      position: relative;
      min-height: 500px;
      @include mq-md {
        display: none;
      }
      @include mq-sm {
        display: block;
        min-height: 300px;
      }
      img {
        object-fit: contain;
      }
    }
    &--check {
      position: relative;
      width: 25px;
      min-width: 25px;
      height: 25px;
    }
    &--subtitle {
      font-weight: 600;
      padding-top: 75px;
      margin: 0;
      span {
        font-weight: 400;
      }
      h3 {
        position: absolute;
        left: 25%;
        top: 10px;
        background-color: map-get($colors, 'black-principal');
        color: #fff;
        font-family: '__Bebas_Neue_758df0';
        font-weight: 400;
        padding: 5px 30px;
        @include mq-md {
          right: 0;
        }
      }
    }
  }
  &__options {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    &--apply {
      background-color: map-get($colors, 'red-wine');
      color: #fff;
      padding: 13px 35px;
      &:hover {
        background-color: map-get($colors, 'red-wine-hover');
        color: #fff;
      }
    }
  }
}
