@import '@styles/base/variables';
@import '@styles/base/mixins';

.company-content {
  background-color: map-get($colors, 'red-wine');
}

.company {
  $parent: &;
  height: calc(80vh - 90px);
  padding-top: 125px;
  display: flex;
  align-items: center;
  color: #fff;
  text-align: left;
  position: relative;
  min-height: 700px;
  z-index: 5;
  @include mq-xs {
    text-align: center;
  }
  h1 {
    margin-bottom: 35px;
    color: #fff;
    font-family: '__Bebas_Neue_758df0';
    font-size: map-get($font-size, 'xl');
    font-weight: 400;
    @include mq-xs {
      font-size: 3rem;
    }
  }
  a {
    background-color: #fff;
    color: map-get($colors, 'red-wine');
    padding: 13px 35px;
    font-weight: 600;
    &:hover {
      background-color: #fff;
      color: map-get($colors, 'red-wine');
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);
    }
  }
  &__image {
    position: absolute;
    height: 102%;
    width: 100%;
    min-width: 360px;
    min-height: 700px;
    max-height: calc(80vh - 90px);
    z-index: 0;
    @include mq-sm {
      filter: brightness(0.5);
    }
    img {
      object-fit: cover;
    }
  }
}

.help-your-business {
  $parent: &;
  $left-spacing: 100px;
  padding-bottom: 90px;
  color: #fff;
  &__benefits {
    text-align: left;
    position: relative;
    margin-left: $left-spacing;
    padding-top: 80px;
    h3 {
      font-size: map-get($font-size, 'lg');
      color: map-get($colors, 'black-principal');
      font-family: '__Bebas_Neue_758df0';
      margin: 0;
      @include mq-xs {
        font-size: 3rem;
      }
    }
    h4 {
      font-size: map-get($font-size, 'md');
      color: map-get($colors, 'red-wine');
      font-family: '__Bebas_Neue_758df0';
      margin: 0;
    }
    &:before {
      content: '';
      width: $left-spacing - 20px;
      height: 70px;
      background-color: map-get($colors, 'black-principal');
      position: absolute;
      top: 0;
      left: -$left-spacing;
      height: 100%;
    }
  }
  &__explain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 40px auto 0 auto;
    max-width: 600px;
    &--card {
      color: #000;
      display: flex;
      align-items: center;
      gap: 20px;
      width: 100%;
      p {
        border-bottom: 1px solid map-get($colors, 'blue-dark');
        padding: 20px 0;
        font-weight: 400;
        width: 100%;
      }
      &:last-child {
        p {
          border-bottom: none;
        }
      }
    }
    &--image {
      position: relative;
      width: 40px;
      height: 37px;
    }
  }
}

.list-services {
  $parent: &;
  &__separator {
    border: 4px solid map-get($colors, 'black-principal');
    max-width: 600px;
    width: 80%;
    display: block;
    margin: 70px auto;
  }
}

.contact-form {
  $parent: &;
  border: 2px solid map-get($colors, 'blue-dark');
  border-radius: 12px;
  padding: 8%;
  margin: 80px 0;
  scroll-margin: 90px;
  h3 {
    font-family: '__Bebas_Neue_758df0';
    font-weight: 400;
    font-size: map-get($font-size, 'lg');
    color: map-get($colors, 'red-wine');
    @include mq-xs {
      font-size: 3rem;
    }
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 600;
  }
  form {
    margin-top: 60px;
    button {
      background-color: map-get($colors, 'blue-dark');
      color: #fff;
      border-radius: 50px;
      padding: 12px 70px;
      margin-top: 40px;
      &:hover {
        background-color: map-get($colors, 'blue-light');
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        color: #fff;
      }
    }
  }
}
