@import '@styles/base/variables';

.contact {
  $parent: &;
  text-align: center;
  margin: 100px 0;
  h1 {
    span {
      color: map-get($colors, 'blue-dark');
    }
  }
  &__form {
    margin-top: 60px;
    &--button {
      background-color: map-get($colors, 'blue-dark');
      color: #fff;
      border-radius: 50px;
      padding: 12px 70px;
      margin-top: 40px;
    }
  }
}
