@import '@styles/base/variables';
@import '@styles/base/mixins';

.contact-container {
  background: rgb(241, 242, 246);
  background: radial-gradient(
    circle,
    rgba(241, 242, 246, 1) 0%,
    rgba(235, 236, 240, 1) 100%
  );
}

.contact {
  $parent: &;
  text-align: left;
  margin-top: 100px;
  min-height: 530px;
  @include mq-sm {
    text-align: center;
  }
  h2 {
    font-family: $font-family-Bebas;
    font-size: map-get($font-size, 'lg');
    color: map-get($colors, 'red-wine');
    font-weight: 400;
    @include mq-xs {
      font-size: 3rem;
    }
  }
  h3 {
    font-family: $font-family-Bebas;
    font-size: map-get($font-size, 'md');
    color: map-get($colors, 'dark-principal');
  }
  p {
    color: map-get($colors, 'dark-principal');
  }
  &__options {
    display: flex;
    gap: 4%;
    @include mq-sm {
      justify-content: center;
    }
    a {
      border-radius: 11px;
      padding: 13px 35px;
      margin-top: 15px;
      color: #fff;
      &.red {
        background-color: map-get($colors, 'red-wine');
        &:hover {
          color: #fff;
          background-color: map-get($colors, 'red-wine-hover');
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
      }
      &.blue {
        background-color: map-get($colors, 'blue-dark');
        &:hover {
          color: #fff;
          background-color: map-get($colors, 'blue-dark-hover');
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
      }

      @include mq-xs {
        width: 85%;
      }
    }
  }
  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      object-fit: contain;
    }
  }
}
