@import '@styles/base/variables';
@import '@styles/base/mixins';

footer {
  background-color: #f9f9fb;
  //border-top-left-radius: 100px;
}

.footer {
  $parent: &;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
  &__logo {
    position: relative;
    width: 228px;
    height: 77px;
    margin: auto;
    @include mq-lg {
      width: 170px;
      height: 57px;
    }
  }
  &__item {
    &--options {
      color: map-get($colors, 'blue-dark');
      ul {
        padding: 0;
        li {
          list-style: none;
          margin: 10px 0;
        }
        a {
          display: flex;
          flex-direction: column;
          text-decoration: none;
          color: map-get($colors, 'blue-dark');
          margin: 11px;
        }
      }
    }
    &--info {
      color: map-get($colors, 'blue-dark');
      ul {
        padding: 0;
        li {
          list-style: none;
          margin: 10px 0;
          opacity: 0.8;
        }
      }
    }
  }
  &__copyright {
    color: map-get($colors, 'blue-dark');
    opacity: 0.8;
  }
}
