@import '@styles/base/variables';
@import '@styles/base/mixins';

.header {
  $parent: &;
  position: fixed;
  width: 100%;
  z-index: 100;
  transition: 0.2s all;
  backdrop-filter: blur(8px);
  background-color: rgb(255 255 255 / 80%);
  box-shadow: 0 4px 16px rgb(0 0 0 / 5%);
  &__logo {
    img {
      height: 60px;
    }
  }
  &__menu {
    @include mq-sm {
      gap: 35px;
      padding-top: 75px;
      height: 100vh;
      padding-bottom: 160px;
      justify-content: center;
    }
    a {
      color: map-get($colors, 'black-principal');
      text-decoration: none;
      margin-left: 40px;
      font-size: map-get($font-size, 'sm');
      opacity: 0.8;
      transition: 0.2s all;
      &:hover {
        opacity: 1;
      }
      @include mq-sm {
        font-size: 1.3rem;
        margin: 0;
      }
    }
    &--principal {
      background-color: map-get($colors, 'red-wine');
      color: #fff !important;
      border-radius: 12px;
      padding: 10px 30px;
      opacity: 1 !important;
    }
  }

  &.minimize {
    padding: 7px 0 5px 0;
  }

  .navbar-toggler {
    border: 0;
    box-shadow: none;
  }
  .navbar-collapse.show {
    @include mq-sm {
      height: 100vh;
    }
  }
}
