@import '@styles/base/variables';

.header {
  $parent: &;
  margin-top: 20px;
  position: fixed;
  width: 100%;
  z-index: 100;
  &__logo {
    filter: brightness(0) invert(1);
  }
  &__menu {
    a {
      color: #fff;
      text-decoration: none;
      margin-left: 40px;
      font-size: map-get($font-size, 'sm');
      opacity: 0.8;
      transition: 0.2s all;
      &:hover {
        opacity: 1;
      }
    }
    &--principal {
      background-color: #fff;
      color: map-get($colors, 'red-wine') !important;
      border-radius: 50px;
      padding: 7px 25px;
      opacity: 1 !important;
    }
  }
}
