@import '@styles/base/variables';
@import '@styles/base/mixins';

.hiring-container {
  margin: 100px 0;
  h2 {
    font-family: '__Bebas_Neue_a0fe44';
    font-size: map-get($font-size, 'lg');
    text-align: center;
    position: relative;
    color: map-get($colors, 'red-wine');
    font-weight: 400;
    @include mq-xs {
      font-size: 3rem;
    }
    &:before {
      content: '';
      border: 12px solid map-get($colors, 'black-principal');
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: calc(50vw - 165px);
      @include mq-xs {
        display: none;
      }
    }
  }
}

.hiring {
  $parent: &;
  &__card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 14px;
    color: #fff;
    padding: 30px 5px;
    margin-top: 20px;
    &.red {
      background-color: map-get($colors, 'red-wine');
    }
    &.blue {
      background-color: map-get($colors, 'blue-dark');
    }
    &--image {
      width: 90px;
      height: 90px;
      position: relative;
      text-align: center;
    }
    &--title {
      font-family: '__Bebas_Neue_a0fe44';
      font-size: map-get($font-size, 'md');
    }
    &--list {
      list-style: none;
      padding: 0;
      margin: 0;
      line-height: 2;
    }
    &--button {
      border-radius: 12px;
      background-color: #fff;
      border: 1px solid map-get($colors, 'dark-principal');
      padding: 13px 35px;
      transition: 0.2s all;
      &:hover {
        color: #fff;
        background-color: map-get($colors, 'blue-dark-hover');
      }
    }
  }
}

.improve {
  margin: 150px auto;
  h3 {
    position: relative;
    font-size: 1.9rem;
    text-align: center;
    span {
      font-weight: 600;
    }
    &::before {
      content: '';
      border: 4px solid map-get($colors, 'black-principal');
      position: absolute;
      top: -60px;
      transform: translateX(-50%);
      left: 50%;
      width: 80%;
    }
    &::after {
      content: '';
      border: 4px solid map-get($colors, 'black-principal');
      position: absolute;
      bottom: -60px;
      transform: translateX(-50%);
      left: 50%;
      width: 80%;
    }
  }
}
