@import '@styles/base/variables';

.hiring-container {
  background: rgb(241, 242, 246);
  background: radial-gradient(
    circle,
    rgba(241, 242, 246, 1) 0%,
    rgba(235, 236, 240, 1) 100%
  );
}

.hiring {
  $parent: &;
  padding-top: 60px;
  h1 {
    text-align: center;
    span {
      color: map-get($colors, 'blue-dark');
    }
  }
  &__image {
    position: relative;
    width: 280px;
    height: 500px;
    margin: auto;
  }
  &__item {
    border: 1px solid map-get($colors, 'blue-dark');
    border-radius: 16px;
    max-width: 295px;
    text-align: center;
    &--title {
      font-weight: 700;
      text-align: center;
      color: map-get($colors, 'blue-dark');
      font-size: 1.2rem;
      padding: 40px 0 20px 0;
    }
    &--ul {
      list-style: none;
    }
    &--li {
      display: flex;
      gap: 20px;
    }
    &--image {
      position: relative;
      width: 22px;
      height: 22px;
    }
    &--button {
      color: map-get($colors, 'blue-dark');
      text-decoration: underline;
      margin-bottom: 40px;
    }
  }
}
