@import '@styles/base/variables';
@import '@styles/base/mixins';

.presentation {
  $parent: &;
  min-height: calc(80vh - 90px);
  padding-top: 125px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  h1 {
    margin-bottom: 35px;
    color: map-get($colors, 'black-principal');
    font-family: '__Bebas_Neue_a0fe44';
    font-size: map-get($font-size, 'xl');
    @include mq-xs {
      font-size: 3rem;
    }
  }
  p {
    color: map-get($colors, 'red-wine');
  }
  &__options {
    display: flex;
    gap: 4%;
    margin-top: 35px;
    @include mq-xs {
      gap: 14px;
      margin-top: 0;
    }
    a {
      border-radius: 11px;
      padding: 13px 35px;
      color: #fff;
      &.red {
        background-color: map-get($colors, 'red-wine');
        &:hover {
          color: #fff;
          background-color: map-get($colors, 'red-wine-hover');
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
      }
      &.blue {
        background-color: map-get($colors, 'blue-dark');
        &:hover {
          color: #fff;
          background-color: map-get($colors, 'blue-dark-hover');
          box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
        }
      }

      @include mq-xs {
        width: 85%;
      }
    }
  }
  &__image {
    position: relative;
    &--photo {
      position: relative;
      margin: auto;
      width: 480px;
      height: 480px;
      z-index: 5;
      @include mq-lg {
        width: 400px;
        height: 400px;
      }
      @include mq-md {
        width: 300px;
        height: 300px;
      }
    }
  }
}
