@import '@styles/base/variables';
@import '@styles/base/mixins';

.what-we-do {
  $parent: &;
  padding: 80px 20px 0 20px;
  min-height: 600px;
  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    img {
      object-fit: contain;
    }
  }
  &__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include mq-sm {
      text-align: center;
    }
    h3 {
      color: map-get($colors, 'black-principal');
      font-family: $font-family-Bebas;
      font-size: 4rem;
      @include mq-sm {
        font-size: 3rem;
      }
    }
    h4 {
      color: map-get($colors, 'red-wine');
      font-family: $font-family-Bebas;
      font-size: 2.5rem;
    }
    p {
      color: map-get($colors, 'blue-dark');
    }
  }
}
