@import '@styles/base/variables';
@import '@styles/base/mixins';

:root {
  --Divider-color: #1c5b73;
  --Divider-bgColor: #fff;
  --Divider-textPadding: 10px;
  --Divider-line: 1px solid #e4e4e4;
}

.work-form-content {
  background-color: map-get($colors, 'red-wine');
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
  position: relative;
  @include mq-lg {
    clip-path: polygon(0 0, 100% 0, 100% 98%, 0% 100%);
  }
  @include mq-sm {
    clip-path: polygon(0 0, 100% 0, 100% 98.5%, 0% 100%);
  }
}

.work-form {
  $parent: &;
  min-height: calc(103vh - 0px);
  padding-top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  transition: 0.2s all;
  h1 {
    margin-bottom: 35px;
    span {
      color: map-get($colors, 'red-wine-light');
    }
  }
  p {
    color: map-get($colors, 'red-wine-text');
    small {
      font-size: map-get($font-size, 'xs');
      color: map-get($colors, 'red-wine-text');
    }
  }
  &__form {
    button {
      background-color: map-get($colors, 'blue-dark');
      color: #fff;
      border-radius: 50px;
      padding: 10px 45px;
      border: 0;
    }
  }
  &__button {
    background-color: #fff;
    color: map-get($colors, 'red-wine');
    border-radius: 50px;
    padding: 10px 72px;
    font-weight: 700;
    &:hover {
      color: map-get($colors, 'red-wine') !important;
      background-color: #fff;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
    &:active {
      background-color: #fff;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    }
  }
  label {
    font-size: 14px;
    padding-bottom: 10px;
    color: #797979;
  }
  &.reduce {
    @media (min-height: 800px) {
      min-height: 600px;
    }
  }
}
.prueba {
  label {
    font-size: 14px;
    padding-bottom: 10px;
    color: #797979;
  }
  input,
  select,
  textarea {
    height: 45px !important;
  }
}
.separator {
  background-color: var(--Divider-bgColor);
  color: var(--Divider-color);
  position: relative;
  text-align: left;
  //white-space: nowrap;
}
.separator:before {
  border-bottom: var(--Divider-line);
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
}

.separator-text {
  background-color: inherit;
  display: inline-block;
  padding: 0 var(--Divider-textPadding);
  position: relative;
  z-index: 1;
  left: 0;
}

//--------------------

.file-upload {
  background-color: #f4f9ff;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  border: 1px dashed #1e80e8;
  border-radius: 10px;
  cursor: pointer;
}

.file-upload-btn {
  margin: 0;
  color: #fff;
  background: map-get($colors, 'blue-dark');
  border: none;
  padding: 10px;
  border-radius: 50px;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  z-index: 100;
  position: relative;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 0;
}

.image-upload-wrap {
  position: relative;
  padding: 30px;
}

.file-upload:hover {
  background-color: #e8f4ff;
  border: 1px dashed #338ff1;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text p {
  font-weight: 400;
  color: map-get($colors, 'blue-dark');
  font-size: 1.3rem;
  margin: 0;
}

.drag-text p span {
  font-size: 1rem;
  color: #4b90e9;
}

.file-upload-image {
  position: relative;
  width: 60px;
  height: 60px;
  margin: auto;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}
