:root {
  --size-h1: 38px;
  --size-h2: 28px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-width: 360px;
}

h1 {
  font-size: var(--size-h1);
  font-weight: 900;
}
h2 {
  font-size: var(--size-h2);
  font-weight: 900;
}

.anchor {
  scroll-margin-top: 100px;
}
