$colors: (
  red-wine: #693431,
  red-wine-light: #fe7f84,
  red-wine-text: #c8abaa,
  blue-dark: #1c5b73,
  blue-light: #206c8a,
  black-principal: #161616,
  green-success: #30ad71,
);

$font-size: (
  xs: 12px,
  sm: 14px,
  md: 16px,
  lg: 28px,
  xl: 38px,
);

$anchor: 90px;
