$colors: (
  red-wine: #642614,
  red-wine-light: #fe7f84,
  red-wine-text: #c8abaa,
  red-wine-hover: #4e1d10,
  blue-dark: #1f5b73,
  blue-dark-hover: #174557,
  blue-light: #206c8a,
  black-principal: #1f1d2f,
  green-success: #30ad71,
);

$font-size: (
  xs: 0.8rem,
  sm: 1rem,
  md: 2.5rem,
  lg: 4rem,
  xl: 4.3rem,
);

$anchor: 90px;
